@charset "utf-8";
/* RESET CSS
----------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
----------------------------------------------------------------------*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.ie7 body {
	background-color: #6be14c /*url("../../img/body.gif")*/;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* SELF-CLEARING FLOATS
----------------------------------------------------------------------*/
.cf:after{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.cf{
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*old style of clearing*/
.clear {
	clear:both;
}
/* @FONT-FACES
----------------------------------------------------------------------*/
@font-face {
	font-family: "AngryBirdsText-Regular";
	src: url('../fonts/angrybirdstext-regular-webfont.eot'); 
	src: url('../fonts/angrybirdstext-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/AngryBirdsText-Regular.ttf') format('truetype');	 
}
@font-face {
	font-family: "AngryBirdText-Bold";
	src: url('../fonts/angrybirdstext-bold-webfont.eot');
    src: url('../fonts/angrybirdstext-bold-webfont.eot?#iefix') format('embedded-opentype'), 
		 url(../fonts/AngryBirdText-Bold.ttf) format('truetype');
}
@font-face {
	font-family: "ANGRYBIRDS-REGULAR"; 
	src: url('../fonts/angrybirds-regular-webfont.eot');
    src: url('../fonts/angrybirds-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ANGRYBIRDS-REGULAR.OTF');
}
@font-face {
	font-family: "ANGRYBIRDS-BOLD"; 
	src: url('../fonts/angrybirds-bold-webfont.eot');
    src: url('../fonts/angrybirds-bold-webfont.eot?#iefix') format('embedded-opentype'),
    	 url('../fonts/ANGRYBIRDS-BOLD.OTF');		 
}
/* TYPOGRAPHY
----------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1 small,
h2 small {
	font-weight: normal;
	color: #bfbfbf;
}
h1,
.h1 {
	margin-bottom: 0.75em;
	font-size: 32px;
	font-size: 2.4em;
	line-height: 1.2;
}
h2,
.h2 {
	margin-bottom: 0.75em;
	font-size: 24px;
	font-size: 2.0em;
	line-height: 1.2;
}
h3,
.h3 {
	font-size: 21px;
	font-size: 1.8em;
	line-height: 1.3;
}
h4,
.h4 {
	font-size: 18px;
	font-size: 1.6em;
	line-height: 1.25;
}
h5,
.h5 {
	font-size: 16px;
	font-size: 1.4em;
	margin-bottom: 1.5em;
}
h6,
.h6 {
	font-size: 14px;
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: 1px;
}
p,
ol,
ul,
dl,
address {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5em;
}
small {
	font-size: 14px;
	font-size: 1.4rem;
}
ul,
ol {
	margin: 0 0 1.5em 0px;
	padding: 0;
}
li ul,
li ol {
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
}
blockquote {
	margin: 0 0 1.5em -24px;
	padding-left: 24px;
	border-left: 2px solid #c7ced6;
	font-family: Cambria, Georgia, Times, "Times New Roman";
	font-style: normal;
}
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
cite {
	font-style: normal;
}
dl,
dd {
	margin-bottom: 1.5em;
}
dt {
	font-weight: bold;
}
.dl-horizontal dt {
	float: left;
	clear: left;
	width: 20.25%;
	text-align: right;
}
.dl-horizontal dd {
	margin-left: 22.78%;
}
abbr[title], /*indicates an abbreviation or an acronym, like "WWW" or "NATO"*/
dfn[title] {
	border-bottom: 1px dotted #666;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	cursor: help;
}
b,
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
ins {
	background-color: #f3f5f6;
	color: #000000;
	text-decoration: none;
}
mark {
	background-color: #f3f5f6;
	color: #000000;
	font-style: italic;
	font-weight: bold;
}
pre,
code,
kbd,
samp {
	font-family: Monaco, Courier New, monospace;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
sub,
sup {
	position: relative;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 0;
	vertical-align: baselineheight;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
hr, /*defines a thematic break*/
.skip,
.ineffable {
	left: -1000em;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 0;
}
.centerText{
	text-align: center;
}
.center{
	margin: 0 auto;
}
.left {
	float: left;
}
.right {
	text-align: right;
}

/* BASE STYLES
----------------------------------------------------------------------*/
html {
	margin:0;
	padding: 0;
	color: #2a0100;	
	overflow-x:hidden;
	
	background: #2a0100; /* Old browsers */
/*	background: -moz-linear-gradient(top,  #c31a1f 0%, #c31a1f 51%, #920b0f 100%); /* FF3.6+ */
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c31a1f), color-stop(51%,#c31a1f), color-stop(100%,#920b0f)); /* Chrome,Safari4+ */
/*	background: -webkit-linear-gradient(top,  #c31a1f 0%,#c31a1f 51%,#920b0f 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-linear-gradient(top,  #c31a1f 0%,#c31a1f 51%,#920b0f 100%); /* Opera 11.10+ */
/*	background: -ms-linear-gradient(top,  #c31a1f 0%,#c31a1f 51%,#920b0f 100%); /* IE10+ */
/*	background: linear-gradient(to bottom,  #c31a1f 0%,#c31a1f 51%,#920b0f 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c31a1f', endColorstr='#920b0f',GradientType=0 ); /* IE6-9 */
		
	height: 100%;
}
body {
	background-image: url("../images/website_bg.jpg");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	/*height: 100%;*/
}
#container{
	position: absolute;
	text-align: center;
	background-color: #000000;
	/*padding: 16px;*/
	width: 810px;
}
#page {
	height: 817px;
}
#sky{
	z-index: 0;
}
#page-header {
	float:left;
	clear:both;
	position:absolute;
	top:0px;
	background: #f3060c;
	width: 100%;
	height: 80px;	
}
#page-footer {
	position:absolute;
	top: 100%;
	margin-top: -50px;
	width: 100%;
	height: 10px;	
	z-index: 3;
}
#header {
	left: 50%;
	margin-left: -490px;
	position: absolute;
}
#logo {
	width: 378px;
	height: 62px;
	display: block;
	margin-left: 20px;
}

a.btn-faq:hover {
	background:url(../images/images.png) no-repeat -1px -68px;
	width: 100px;
	height: 50px;
	display: block;
}

a.btn-faq, a.btn-faq:active {
	background:url(../images/images.png) no-repeat -1px -114px;
	width: 100px;
	height: 50px;
	display: block;
}

a.btn-faq-en:hover {
	background:url(../images/images.png) no-repeat -210px -70px;
	width: 100px;
	height: 50px;
	display: block;
}

a.btn-faq-en, a.btn-faq-en:active {
	background:url(../images/images.png) no-repeat -210px -116px;
	width: 100px;
	height: 50px;
	display: block;
}
 
#flashObject {	
	background: #fff;
	width: 980px;
	height: 570px;
	position:absolute;
	left: 50%;
	margin-left: -490px;
	margin-top: 150px;
	border-radius: 8px;
	border: 8px solid #ffffff;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 0px 12px;
	-moz-box-shadow: #666 0px 0px 12px;
	box-shadow: #666 0px 0px 12px;	
	behavior: url(../js/PIE_uncompressed.htc);
	z-index: 100;
}

.border-box {
	background: #fff;		
	border-radius: 8px;
	border: 8px solid #ffffff;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 0px 12px;
	-moz-box-shadow: #666 0px 0px 12px;
	box-shadow: #666 0px 0px 12px;			
	behavior: url(../js/PIE_uncompressed.htc);
}

#flashObject a {
	color: #000;	
}
#flashContent{
	z-index:100;
}
#overlay {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgb(0, 0, 0);
	background-color: #000000;
    opacity: 0.8; 
	display: block;
    z-index: 90;
}
.error-text {
	text-align: center;
	font-size: 16px;
	padding: 24px;
	font-weight: bold;
	margin-top: 200px;
	color: #000;
}
#flashContent div a{
	font-size: 16px;
	padding: 24px;
	font-weight: bold;
	font-family: inherit;
	padding: 0;
}
#flashContent div a:hover{
	color: #853535;
}
#flashContent div a:visited{
	color: #505050;
}

#faq-content {
	margin-left: 12px;
	margin-right: 12px;
	background:#fff; 
}

#faqBanner {
	background: url(../images/faq2.jpg) 0px 0px no-repeat;
	height: 197px;
	display: block;
	padding-bottom: 30px;
}

.faqTitle {
	color:#ffffff;
	font-size:16px;	
	padding: 4px;	
	border-bottom: 1px dotted #462017;
	background: #6e3804;
	font-weight: bold;
}
.faqTitle:hover {
	color:#ffffff;
	background: #004c5a;
	font-size:16px;	
	padding: 4px;	
	font-weight: bold;	
}
.faqTitle > p{
	color:#ffffff;
	background: #2d0300;
}
.faqTitle > p > a{
	color: #ffffff;
	text-decoration: none;
}
.faqContent {
	color:#ffffff;
	font-size: 14px;
	font-weight: normal;	
}

/* Winner info*/
.winnerText {
	font-family: Arial;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 140px;
	width: 180px;	
	font-size: 14px;
	font-weight: bold;
	color:#462017;
	text-align:left;
}
.scoreText {
	font-family: Arial;
	width: 120px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color:#462017;
}

.tableHeader {
	font-size: 32px;
	font-weight: bold;
	color:#DE1C1C;
	margin-top: 12px;
	height: 50px;
}

.bg-yellow-1 {
	background:#fee8c1;
}
.bg-yellow-2 {
	background:#fcf5e3;
}
.bg-white-1 {
	background:#fff;
}
.bg-orange-1 {
	background:#eeaa3f;
}
.div-table-col {
	/* width: 340px; */
}
.buttons-margin {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 12px;
}
.divcenter {
	left: 50%;
}

.small-text {
	font-size: 12px;
	color:#806B57;
	font-family: 'AngryBirdsText-Regular', arial, Helvetica, sans-serif;
}
.text-normal {
	font-size: 14px;
}
.text-big {
	font-size: 18px;
}
.text-bigger {
	font-size: 22px;
}
.text-biggest {
	font-size: 26px;
}
a {
	color:#ffffff;
	text-decoration:none;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial;	
	z-index: 100;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color:#ffffff;
}

a:active {
	color:#ffffff;
}

.interactive {	
	cursor: pointer;  	
	cursor: hand; 		
}

.styled-select select {
   background: transparent;
   width: 268px;   
   border: 1px solid #ccc;
   padding:5px;
   font-size: 16px;
   height: 34px;
   -webkit-appearance: none;
}

.styled-select {
	width: 240px;
    height: 34px;
	overflow: hidden;
   	background: url(../images/down_arrow_select.jpg) no-repeat right #ddd;
}

#logo_red {
	background: url(../../images/coke_logo_red.jpg) no-repeat right #ddd;
	width: 140px;
	height:40px;
	display:block;
	margin-left: 220px;
}

#loading-div {
	display: block;
	position: absolute;
	left: 490px;
	top: 120px;
	z-index: 20;
}

.smaller {
	font-size: 14px;	
}

.mt2 {
	margin-top: 2px;
}

#footer-game {
	left: 50%;
	margin-left: -500px;
	position: absolute;
	margin-top: 720px;
	width: 998px;
	text-align: center;
	z-index: 5;
}
#legaltext {
	margin: 30px 0 0 150px;
	font-size: 11px;
	color: #806B57;
}

#legaltext a {
	color:#BAA084;
	text-decoration:none;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial;	
}
#legaltext a:hover {
	text-decoration:underline;
}

#middle-content {
	position:absolute;
	left:50%;
	margin-left:-632px;
	margin-top:70px;
	height: 570px;
	min-width: 1400px;
}

#left-banner, #right-banner {
	position: absolute;
	width:130px;
	height:570px;
	margin-top: 128px;
	left: 50%;
	z-index: 100;
}

#left-banner{
	margin-right: 10px;
	margin-left: -634px;
}

#right-banner{
	margin-left: 520px;
}

#faqButton{
	/*position: absolute;
	margin-left: 180px;
	margin-top: 20px;
	z-index: 100;*/
}

.navigation{
	/*top: 30px;*/
	margin: 25px 0 0px 20px;
	z-index: 100;
}
#shareButtons ul{
	list-style: none;
	float: left;
}

#shareButtons li{
	display:inline-block;
}
#facebook{
	width: 41px;
	height: 42px;
	cursor: pointer;
	cursor: hand;
}
#twitter{
	width: 42px;
	height: 41px;
	cursor: pointer;
	cursor: hand;
}

#blueShareButton{
	position: absolute;
	left: 115px;
	top: 0px;
}
#branding ul{
	list-style: none;
	float: right;
}

#branding li{
	display:inline-block;
	margin-top: -5px;
}
#branding li #tazos_brand{
	background: url('../images/logo_hover_tazos.png') no-repeat;
	display: block;
	width: 73px;
	height: 53px;
	/*padding: 5px 5px 5px 5px;*/
}
/*#branding li #tazos_brand:hover{
	background: url('../images/logo_hover_tazos.png') no-repeat;
	background-size: 100%;
	display: block;
	width: 73px;
	height: 53px;
	padding: 0;
}*/
#branding li #gamesa_brand{
	background: url('../images/logo_hover_gamesa.png') no-repeat;
	display: block;
	width: 55px;
	height: 51px;
	/*padding: 15px 5px 5px 5px;*/
}
/*#branding li #gamesa_brand:hover{
	background: url('../images/logo_hover_gamesa.png') no-repeat;
	background-size: 100%;
	display: block;
	width: 55px;
	height: 51px;
	padding: 0;
}*/
#sabritas_brand{
	background: url('../images/logo_hover_sabritas.png') no-repeat;
	display: block;
	width: 69px;
	height: 46px;
	/*padding: 15px 5px 5px 5px;*/
}
/*#sabritas_brand:hover{
	background: url('../images/logo_hover_sabritas.png') no-repeat;
	background-size: 100%;
	display: block;
	width: 69px;
	height: 46px;
	padding: 0;
}*/
#sonrics_brand{
	background: url('../images/logo_hover_sonrics.png') no-repeat;
	display: block;
	width: 56px;
	height: 59px;
	/*padding: 15px 5px 5px 5px;*/
}
/*#sonrics_brand:hover{
	background: url('../images/logo_hover_sonrics.png') no-repeat;
	background-size: 100%;
	display: block;
	width: 56px;
	height: 59px;
	padding: 0;
}*/
/*-  MEDIA QUERIES
----------------------------------------------------------------------*/
